.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
}

.logo {
  width: 228px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 2;
}

.header__title {
  max-width: 730px;
  font-size: 102px;
  font-weight: 600;
  line-height: 96px;
  margin: 0 0 0 64px;
  z-index: 2;
}

.header__subtitle {
  max-width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  z-index: 2;
  margin: 0;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  object-fit: cover;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 765px;
  height: 608px;
  z-index: 1;
}

.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  width: 568px;
  height: 568px;
  background:  #2f80ed;
}

.two-columns {
  margin: 100px auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  max-width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
}

.two-columns__paragraph:not(:last-child) {
  margin-bottom: 30px;
}

.span-accent {
  font-weight: 600;
}

.digits {
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  align-items:center;
}

.section-title {
  text-align: center;
  width: 60%;
  margin: 0;
  font-size: 60px;
  line-height: 1.15;
  font-weight: 600;
}

.section-subtitle {
  text-align: center;
  width: 60%;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  margin: 20px 0 0 0;
}

.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1100px;
  padding: 0;
  margin: 0;
}

.table__cell {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  width: 250px;
  list-style: none;
}

.table__heading {
  margin: 0;
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
}

.table__text {
  margin: 20px 0 0 0;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
}

.feynman {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #f2f2f2;
  min-height: 890px;

}

.feynman__title {
  max-width: 648px;
  margin: 100px auto 0 auto;
  font-size: 120px;
  line-height: 1.15;
  font-weight: 600;
  text-align: center;
  z-index: 2;
}

.feynman__subtitle {
  margin: 70px auto 0 auto;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  z-index: 2;

}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  z-index: 2;
}

.feynman__image {
  object-fit: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 867px;
  height: 637px;
  z-index: 1;
}
.kaufman {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items:center;
  background-color: #1f1f1f;
  margin: 0 auto;
  color: #fff;
}

.section-title_theme_dark {
  margin-top: 90px;
  z-index: 2;
}

.section-subtitle_theme_dark {
  margin: 20px 0 0 0;
  z-index: 2;
}

.kaufman__triangle {
  position: absolute;
  top: 0;
  right: -210px;
  width: 877px;
  height: 877px;
  background-image: url(../images/kaufman-triangle.svg);
  background-repeat: no-repeat;
  background-size: 877px 877px;
  z-index: 1;
}

.table_theme_dark {
  margin-bottom: 90px;
  z-index: 2;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: #fff;
  margin-top: 80px;
}

.table__heading_theme_dark {
  line-height: 1.15;
}

.footer {
  background-color: #1f1f1f;
  padding: 60px 0 40px 0;
  min-height: 350px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  color: #fff;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__author {
  margin: 18px 0;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
}

.footer__column_content_info {
  flex-direction: column;
  justify-content: flex-start;
}

.footer__column-heading {
  margin: 0 0 20px 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
}

.footer__column-links {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__column-link {
  margin: 0;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin: 0 10px 0 0;
}
